@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

.contentWrapper {
  min-width: 338px;
  height: 76px;
  margin-right: 22px;
}

.switchWrapper {
  width: 30px;
  height: 60px;
}

.progressbarWrapper {
  width: 286px;
  height: 76px;
}
